<?xml version="1.0"?>
<config>
    <default>
        <membership>
            <general>
                <active_package_when_state_order>complete</active_package_when_state_order>
                <update_package_when_state_order>complete</update_package_when_state_order>												
                <new_package_email_template>magestore_membership_new_package</new_package_email_template>
                <remain_renew_package_email_template>magestore_membership_notify_renew_package</remain_renew_package_email_template>												
                <send_email_to_member_before>5</send_email_to_member_before>												
                <warning_day>5</warning_day>												
            </general>
            <styles>
                <box_color>94C651</box_color>
                <box_hover_color>51BCAA</box_hover_color>
                <title_color>FFFFFF</title_color>
                <title_hover_color>FFFFFF</title_hover_color>
                <text_color>535A64</text_color>
            </styles>
        </membership>
    </default>
    <crontab>
        <jobs>
            <membership_autopayment>
                <schedule>
                    <cron_expr>* * * * *</cron_expr>
                </schedule>
                <run>
                    <model>membership/observer::autopayment</model>
                </run>
            </membership_autopayment>
			
            <membership_noticestatuspackage>
                <schedule>
                    <cron_expr>0 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>membership/observer::noticeStatusPackage</model>
                </run>
            </membership_noticestatuspackage>
        </jobs>
    </crontab>
    <modules>
        <Magestore_Membership>
            <version>0.1.5</version>
        </Magestore_Membership>
    </modules>
    <frontend>
        <routers>
            <membership>
                <use>standard</use>
                <args>
                    <module>Magestore_Membership</module>
                    <frontName>membership</frontName>
                </args>
            </membership>
        </routers>
        <layout>
            <updates>
                <membership>
                    <file>membership.xml</file>
                </membership>
            </updates>
        </layout>
        <translate>
            <modules>
                <Magestore_Membership>
                    <files>
                        <default>Magestore_Membership.csv</default>
                    </files>
                </Magestore_Membership>
            </modules>
        </translate>			
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Magestore_Membership after="Magento_Adminhtml">Magestore_Membership_Adminhtml</Magestore_Membership>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <membership>
                    <file>membership.xml</file>
                </membership>
            </updates>
        </layout>
        <translate>
            <modules>
                <Magestore_Membership>
                    <files>
                        <default>Magestore_Membership.csv</default>
                    </files>
                </Magestore_Membership>
            </modules>
        </translate>			
    </adminhtml>   
    <global>
        <events>
            <sales_order_save_after>
                <observers>
                    <magestore_membership_observer>
                        <type>singleton</type>
                        <class>membership/observer</class>
                        <method>sales_order_save_after</method>
                    </magestore_membership_observer>
                </observers>
            </sales_order_save_after>
            <catalog_product_get_final_price>
                <observers>
                    <magestore_membership_observer>
                        <type>singleton</type>
                        <class>membership/observer</class>
                        <method>catalog_product_get_final_price</method>
                    </magestore_membership_observer>
                </observers>				
            </catalog_product_get_final_price>
            <catalog_product_collection_load_after>
                <observers>
                    <magestore_membership_observer>
                        <type>singleton</type>
                        <class>membership/observer</class>
                        <method>catalog_product_collection_load_after</method>
                    </magestore_membership_observer>
                </observers>				
            </catalog_product_collection_load_after>
            <customer_save_after>
                <observers>
                    <magestore_membership_observer>
                        <type>singleton</type>
                        <class>membership/observer</class>
                        <method>customer_save_after</method>
                    </magestore_membership_observer>
                </observers>
            </customer_save_after>
            <sales_order_creditmemo_save_after>
                <observers>
                    <magestore_membership_observer>
                        <type>singleton</type>
                        <class>membership/observer</class>
                        <method>sales_order_creditmemo_save_after</method>
                    </magestore_membership_observer>
                </observers>
            </sales_order_creditmemo_save_after>
        </events>
        <models>
            <membership>
                <class>Magestore_Membership_Model</class>
                <resourceModel>membership_mysql4</resourceModel>
            </membership>
            <membership_mysql4>
                <class>Magestore_Membership_Model_Mysql4</class>
                <entities>
                    <group>
                        <table>membership_group</table>
                    </group>
                    <groupproduct>
                        <table>membership_group_product</table>
                    </groupproduct>
                    <package>
                        <table>membership_package</table>
                    </package>
                    <packagevalue>
                        <table>membership_package_value</table>
                    </packagevalue>
                    <packagegroup>
                        <table>membership_package_group</table>
                    </packagegroup>
                    <packageproduct>
                        <table>membership_package_product</table>
                    </packageproduct>
                    <member>
                        <table>membership_member</table>
                    </member>
                    <memberpackage>
                        <table>membership_member_package</table>
                    </memberpackage>
					
                    <paymenthistory>
                        <table>membership_payment_history</table>
                    </paymenthistory>
                </entities>
            </membership_mysql4>
            <catalog>
                <rewrite>
                    <product_option_value>Magestore_Membership_Model_Catalog_Product_Option_Value</product_option_value>
                </rewrite>
            </catalog>
        </models>
        <resources>
            <membership_setup>
                <setup>
                    <module>Magestore_Membership</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </membership_setup>
            <membership_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </membership_write>
            <membership_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </membership_read>
        </resources>
        <blocks>
            <membership>
                <class>Magestore_Membership_Block</class>
            </membership>
        </blocks>
        <helpers>
            <membership>
                <class>Magestore_Membership_Helper</class>
            </membership>
        </helpers>
        <template>
            <email>               	
                <magestore_membership_new_package translate="label" module="membership">
                    <label>New package email template</label>
                    <file>membership/new_package.html</file>
                    <type>html</type>
                </magestore_membership_new_package>
				
                <magestore_membership_notify_renew_package translate="label" module="membership">
                    <label>Remind to renew email template</label>
                    <file>membership/notify_renew_package.html</file>
                    <type>html</type>
                </magestore_membership_notify_renew_package>
				                	
            </email>
        </template>
    </global>
</config>