<?xml version="1.0"?>
<config>
    <default>
        <membership>
            <general>
                <active_package_when_state_order>complete</active_package_when_state_order>
                <update_package_when_state_order>complete</update_package_when_state_order>												
                <renew_package_when_package_expires>Enabled</renew_package_when_package_expires>
                <new_package_email_template>magestore_membership_new_package</new_package_email_template>
                <notify_renew_package_email_template>magestore_membership_notify_renew_package</notify_renew_package_email_template>
				<notify_auto_renew_package_email_template>magestore_membership_notify_auto_renew_package</notify_auto_renew_package_email_template>
                <send_email_to_member_before>15</send_email_to_member_before>
                <!--<warning_day>5</warning_day>-->
            </general>
            <styles>
                <box_color>94C651</box_color>
                <box_hover_color>51BCAA</box_hover_color>
                <title_color>FFFFFF</title_color>
                <title_hover_color>FFFFFF</title_hover_color>
                <text_color>535A64</text_color>
            </styles>
        </membership>
    </default>
    <crontab>
        <jobs>
            <membership_autopayment>
                <schedule>
                    <cron_expr>* * * * *</cron_expr>
                </schedule>
                <run>
                    <model>membership/observer::autopayment</model>
                </run>
            </membership_autopayment>

            <membership_autorenew>
                <schedule>
                    <cron_expr>* * * * *</cron_expr>
                </schedule>
                <run>
                    <model>membership/observer::autorenew</model>
                </run>
            </membership_autorenew>
			
            <membership_noticestatuspackage>
                <schedule>
                    <cron_expr>* * */1 * *</cron_expr>
                </schedule>
                <run>
                    <model>membership/observer::noticeStatusPackage</model>
                </run>
            </membership_noticestatuspackage>
        </jobs>
    </crontab>
    <modules>
        <Magestore_Membership>
            <version>0.2.0</version>
        </Magestore_Membership>
    </modules>
    <frontend>
        <events>
            <controller_action_predispatch>
                <observers>
                    <magestore_membership_observer>
                        <type>singleton</type>
                        <class>membership/observer</class>
                        <method>customerLogin</method>
                    </magestore_membership_observer>
                </observers>
            </controller_action_predispatch>
            <sales_quote_item_save_before>
                <observers>
                    <magestore_membership_observer>
                        <type>singleton</type>
                        <class>membership/observer</class>
                        <method>quote_item_save_before</method>
                    </magestore_membership_observer>
                </observers>
            </sales_quote_item_save_before>
            <sales_order_save_after>
                <observers>
                    <magestore_membership_observer>
                        <type>singleton</type>
                        <class>membership/observer</class>
                        <method>after_save_order</method>
                    </magestore_membership_observer>
                </observers>
            </sales_order_save_after>
            <controller_action_predispatch_checkout_cart_updateItemOptions>
                <observers>
                    <magestore_membership_observer>
                        <type>singleton</type>
                        <class>membership/observer</class>
                        <method>updateItemOptionsCartBefore</method>
                    </magestore_membership_observer>
                </observers>
            </controller_action_predispatch_checkout_cart_updateItemOptions>
            <controller_action_predispatch_checkout_cart_ajaxUpdate>
                <observers>
                    <magestore_membership_observer>
                        <type>singleton</type>
                        <class>membership/observer</class>
                        <method>ajaxUpdateCartBefore</method>
                    </magestore_membership_observer>
                </observers>
            </controller_action_predispatch_checkout_cart_ajaxUpdate>
            <sales_quote_remove_item>
                <observers>
                    <magestore_membership_observer>
                        <type>singleton</type>
                        <class>membership/observer</class>
                        <method>removeProductExchange</method>
                    </magestore_membership_observer>
                </observers>
            </sales_quote_remove_item>
            <sales_quote_collect_totals_after>
                <observers>
                    <magestore_membership_observer>
                        <type>singleton</type>
                        <class>membership/observer</class>
                        <method>setCustomDiscount</method>
                    </magestore_membership_observer>
                </observers>
            </sales_quote_collect_totals_after>
        </events>
        <routers>
            <membership>
                <use>standard</use>
                <args>
                    <module>Magestore_Membership</module>
                    <frontName>membership</frontName>
                </args>
            </membership>
        </routers>
        <layout>
            <updates>
                <membership>
                    <file>membership.xml</file>
                </membership>
            </updates>
        </layout>
        <translate>
            <modules>
                <Magestore_Membership>
                    <files>
                        <default>Magestore_Membership.csv</default>
                    </files>
                </Magestore_Membership>
            </modules>
        </translate>			
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Magestore_Membership after="Magento_Adminhtml">Magestore_Membership_Adminhtml</Magestore_Membership>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <membership>
                    <file>membership.xml</file>
                </membership>
            </updates>
        </layout>
        <translate>
            <modules>
                <Magestore_Membership>
                    <files>
                        <default>Magestore_Membership.csv</default>
                    </files>
                </Magestore_Membership>
            </modules>
        </translate>			
    </adminhtml>   
    <global>
        <sales>
            <quote>
                <totals>
                    <magestore_membership_fee>
                        <class>membership/sales_quote_address_total_fee</class>
                        <sort_order>25</sort_order>
                    </magestore_membership_fee>
                    <magestore_membership_refundcredit>
                        <class>membership/sales_quote_address_total_refundcredit</class>
                        <sort_order>28</sort_order>
                    </magestore_membership_refundcredit>

                    <!--set order for sale quote total-->
                    <nominal>
                        <class>sales/quote_address_total_nominal</class>
                        <sort_order>10</sort_order>
                    </nominal>
                    <subtotal>
                        <class>sales/quote_address_total_subtotal</class>
                        <sort_order>20</sort_order>
                    </subtotal>
                    <msrp>
                        <class>sales/quote_address_total_msrp</class>
                        <sort_order>30</sort_order>
                    </msrp>
                    <freeshipping>
                        <class>salesrule/quote_freeshipping</class>
                        <sort_order>40</sort_order>
                    </freeshipping>
                    <tax_subtotal>
                        <class>tax/sales_total_quote_subtotal</class>
                        <sort_order>50</sort_order>
                    </tax_subtotal>
                    <weee>
                        <class>weee/total_quote_weee</class>
                        <sort_order>60</sort_order>
                    </weee>
                    <shipping>
                        <class>sales/quote_address_total_shipping</class>
                        <sort_order>70</sort_order>
                    </shipping>
                    <tax_shipping>
                        <class>tax/sales_total_quote_shipping</class>
                        <sort_order>80</sort_order>
                    </tax_shipping>
                    <discount>
                        <class>salesrule/quote_discount</class>
                        <sort_order>90</sort_order>
                    </discount>
                    <customercreditbeforetax>
                        <class>customercredit/total_quote_discountbeforetax</class>
                        <sort_order>100</sort_order>
                    </customercreditbeforetax>
                    <tax>
                        <class>tax/sales_total_quote_tax</class>
                        <sort_order>110</sort_order>
                    </tax>

                    <customercredit>
                        <class>customercredit/total_quote_discount</class>
                        <sort_order>120</sort_order>
                    </customercredit>

                    <grand_total>
                        <class>sales/quote_address_total_grand</class>
                        <sort_order>130</sort_order>
                    </grand_total>

                </totals>
            </quote>
        </sales>
        <events>
            <core_block_abstract_prepare_layout_before>
                <observers>
                    <magestore_membership_observer>
                        <type>singleton</type>
                        <class>membership/observer</class>
                        <method>appendCustomColumn</method>
                    </magestore_membership_observer>
                </observers>
            </core_block_abstract_prepare_layout_before>
            <eav_collection_abstract_load_before>
                <observers>
                    <magestore_membership_observer>
                        <type>singleton</type>
                        <class>membership/observer</class>
                        <method>addAttribteForCollection</method>
                    </magestore_membership_observer>
                </observers>
            </eav_collection_abstract_load_before>
            <sales_order_save_after>
                <observers>
                    <magestore_membership_observer>
                        <type>singleton</type>
                        <class>membership/observer</class>
                        <method>sales_order_save_after</method>
                    </magestore_membership_observer>
                </observers>
            </sales_order_save_after>
            <catalog_product_get_final_price>
                <observers>
                    <magestore_membership_observer>
                        <type>singleton</type>
                        <class>membership/observer</class>
                        <method>catalog_product_get_final_price</method>
                    </magestore_membership_observer>
                </observers>				
            </catalog_product_get_final_price>
            <catalog_product_collection_load_after>
                <observers>
                    <magestore_membership_observer>
                        <type>singleton</type>
                        <class>membership/observer</class>
                        <method>catalog_product_collection_load_after</method>
                    </magestore_membership_observer>
                </observers>				
            </catalog_product_collection_load_after>
            <customer_save_after>
                <observers>
                    <magestore_membership_observer>
                        <type>singleton</type>
                        <class>membership/observer</class>
                        <method>customer_save_after</method>
                    </magestore_membership_observer>
                </observers>
            </customer_save_after>
            <adminhtml_customer_prepare_save>
                <observers>
                    <magestore_membership_observer>
                        <type>singleton</type>
                        <class>membership/observer</class>
                        <method>customerSaveBlockAccount</method>
                    </magestore_membership_observer>
                </observers>
            </adminhtml_customer_prepare_save>

        </events>
        <models>
            <membership>
                <class>Magestore_Membership_Model</class>
                <resourceModel>membership_mysql4</resourceModel>
            </membership>
            <membership_mysql4>
                <class>Magestore_Membership_Model_Mysql4</class>
                <entities>
                    <group>
                        <table>membership_group</table>
                    </group>
                    <groupproduct>
                        <table>membership_group_product</table>
                    </groupproduct>
					<groupprice>
                        <table>membership_group_price</table>
                    </groupprice>
                    <package>
                        <table>membership_package</table>
                    </package>
                    <packagevalue>
                        <table>membership_package_value</table>
                    </packagevalue>
                    <packagegroup>
                        <table>membership_package_group</table>
                    </packagegroup>
                    <packageproduct>
                        <table>membership_package_product</table>
                    </packageproduct>
                    <member>
                        <table>membership_member</table>
                    </member>
                    <memberpackage>
                        <table>membership_member_package</table>
                    </memberpackage>
                    <paymenthistory>
                        <table>membership_payment_history</table>
                    </paymenthistory>
					<transaction>
                        <table>membership_transaction</table>
                    </transaction>
                </entities>
            </membership_mysql4>
            <catalog>
                <rewrite>
                    <product_option_value>Magestore_Membership_Model_Catalog_Product_Option_Value</product_option_value>
                </rewrite>
            </catalog>
        </models>
        <resources>
            <membership_setup>
                <setup>
                    <module>Magestore_Membership</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </membership_setup>
            <membership_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </membership_write>
            <membership_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </membership_read>
        </resources>
        <blocks>
            <membership>
                <class>Magestore_Membership_Block</class>
            </membership>
        </blocks>
        <helpers>
            <membership>
                <class>Magestore_Membership_Helper</class>
            </membership>
        </helpers>
        <template>
            <email>               	
                <magestore_membership_new_package translate="label" module="membership">
                    <label>New package email template</label>
                    <file>membership/new_package.html</file>
                    <type>html</type>
                </magestore_membership_new_package>
				
                <magestore_membership_notify_renew_package translate="label" module="membership">
                    <label>Remind to renew email template</label>
                    <file>membership/notify_renew_package.html</file>
                    <type>html</type>
                </magestore_membership_notify_renew_package>
				
				<magestore_membership_notify_auto_renew_package translate="label" module="membership">
                    <label>Remind to auto renew email template</label>
                    <file>membership/notify_auto_renew_package.html</file>
                    <type>html</type>
                </magestore_membership_notify_auto_renew_package>
				                	
            </email>
        </template>
    </global>
</config>