<?xml version="1.0"?>
<config>
    <tabs>
        <magestore translate="label">
            <label>Magestore Extension</label>
            <sort_order>400</sort_order>
        </magestore>
    </tabs>
    <sections>
        <membership translate="label" module="membership">
            <class>separator-top</class>
            <label>Membership</label>
            <tab>magestore</tab>
            <frontend_type>text</frontend_type>
            <sort_order>300</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general translate="label">
                    <label>Membership Configuration</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>						
                        <active_package_when_state_order translate="label">
                            <label>Activate membership package when order status is</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_order_status</source_model>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment></comment>
                        </active_package_when_state_order>
                        <update_package_when_state_order translate="label">
                            <label>Update membership package of member when order status is</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_order_status</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment></comment>
                        </update_package_when_state_order>
                        <send_email_to_member_before>
                            <label>Send email to member before package expires</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>days (Comma-separated)</comment>
                        </send_email_to_member_before>
                        <warning_day>
                            <label>The number of days before expired date that the package status turns into warning</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>days</comment>
                        </warning_day>
						
                        <new_package_email_template translate="label">
                            <label>Email template to members when they buy a package</label>
                            <frontend_type>select</frontend_type>
                            <source_model>membership/system_template_newpackage</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </new_package_email_template>
                        <notify_renew_package_email_template translate="label">
                            <label>Notify client to renew a package</label>
                            <frontend_type>select</frontend_type>
                            <source_model>membership/system_template_remainrenewpackage</source_model>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </notify_renew_package_email_template>
																
                        <about_membership translate="label comment">
                            <label>Short description that shows on membership page</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                            
                        </about_membership>
                    </fields>
                </general>
                <styles translate="label">
                    <label>Style Configuration</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>100</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <box_color translate="label">
                            <label>Box color</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <validate>color</validate>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Default is 94C651</comment>
                        </box_color>
                        <box_hover_color>
                            <label>Box hover color</label>
                            <frontend_type>text</frontend_type>
                            <validate>color</validate>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Default is 51BCAA</comment>
                        </box_hover_color>
                        <title_color>
                            <label>Title color</label>
                            <frontend_type>text</frontend_type>
                            <validate>color</validate>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Default is FFFFFF</comment>
                        </title_color>
                        <title_hover_color>
                            <label>Title hover color</label>
                            <frontend_type>text</frontend_type>
                            <validate>color</validate>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Default is FFFFFF</comment>
                        </title_hover_color>
                        <text_color>
                            <label>Text color</label>
                            <frontend_type>text</frontend_type>
                            <validate>color</validate>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Default is 535A64</comment>
                        </text_color>
                        <customize>
                            <label>Customize styles</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Use css code to customize as you want</comment>
                        </customize>
                    </fields>
                </styles>
            </groups>
        </membership>  
    </sections>
</config>