.fieldset #storecredit_value{
    width: 273px  !important;
}
.fieldset #storecredit_from{
    width: 273px  !important;
}
.fieldset #storecredit_to{
    width: 273px  !important;
}
.fieldset #storecredit_dropdown{
    width: 273px  !important;
}
.fieldset #credit_rate{
    width: 273px  !important;
}