.form-group.page-title h1{margin: 0;}
.packages{
    float: left;
    width: 100%;
    margin: 20px 0 0;
}
.packages .package{
    background: #fff;
    min-height: 260px;
    float: left;
    width: 100%;
    margin-bottom: 20px;
    color:#535A64;
    border: 1px solid #ddd;
    font-size: 13px;
    padding-bottom: 20px;
    border-radius: 4px;
    transition: all 350ms ease-out;
    -webkit-transition: all 350ms ease-out;
    -moz-transition: all 350ms ease-out;
    -ms-transition:all 350ms ease-out;
    -o-transition: all 350ms ease-out;
}
.package .package-name {
    font-weight: 500;
    padding: 20px 0 ;
    text-align: center;
    font-size: 17px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #94C651;
    margin-bottom: 15px;
}
.package .package-price{
    float: left;
    width: 100%;
}
.package .package-price .price{
    font-size: 14px;
    font-weight: 600;
}
.package p{
    float:left;
    width: 100%;
    text-transform: uppercase;
    margin-bottom: 5px;
    text-align: left;
    padding-left: 10%;
}
.package .package-detail{
    padding: 0 8%;
    font-size: 13px;
    float: left;
    width: 100%;
    height: 70px;
    overflow: hidden;
    margin-bottom: 10px;
}
.package .action{
    padding-left: 5px;
    padding-right: 5px;
}
.package .action a{
    float:left;
    width: 100%;
    color: #fff;
    background: #94B713;
    font-size: 13px;
    padding: 5px;
    text-decoration: none;
    border-radius: 3px;
}
.package .expire{
    font-size: 11px;
    font-style: italic;
    font-weight: 600;
    margin-top: 10px;
}
.packages div.package:hover{
    border-color:#51BCAA;
}
.packages div.package:hover .package-name{
    background:#51BCAA ;
}
.packages div.package:hover .action a{
    background:#51BCAA ;
}
.membership-steps ol li.first {
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-topleft: 5px;
}

.membership-steps ol li.step1, .membership-steps ol li.step2 {
    border-right: 0 none;
}


.membership-steps ol li {
    background: none repeat scroll 0 0 #F2F2F2;
    border: 1px solid #ddd;
    color: #535A64;
    display: block;
    float: left;
    font-size: 12px;
    font-weight: bold;
    margin-left: 0 !important;
    padding: 5px 45px 5px 10px;
}
.ms-membership .packages-table tr{cursor: pointer;}


.membership-steps ol li span.number {
    -moz-border-radius: 5px 5px 5px 5px;
    background: none repeat scroll 0 0 #94C651;
    color: #FFFFFF;
    margin-right: 5px;
    padding: 0 7px;
}
.membership-steps ol li span {
    display: block;
    float: left;
    line-height: 24px;
}
@media (max-width: 768px){
    .membership-steps ol li{border: 0;}
}
.ms-membership .packages-table thead tr th{
    color: #fff;
    background: #94C651;
    font-weight: 600;
}
.ms-membership .packages-table .action{
    float: left;
    width: 100%;
    text-align: center;
}
.ms-membership .packages-table .action a{
    color: #fff;
    background: #94B713;
    font-size: 13px;
    padding: 5px;
    text-decoration: none;
    border-radius: 3px;
}
.ms-membership .packages-table  tbody  tr:hover .action a{
    background: #51BCAA;
}
.ms-membership .page-title{
    border-bottom: 1px solid #ededed;
}
.ms-membership .page-title h1{
    border-bottom:0;
    margin: 0;
}
.ms-membership .page-title .text-right a{
    float:right;
    font-size: 13px;
    color: #ffffff;
    background: #94C651;
    text-decoration: none;
    padding:5px;
}
.planinfo
{
    margin-left: 0;
    padding-left: 0;
    list-style: none;
    line-height:25px;
}

.planinfo li.yes
{
    padding-left: 25px;
    background-image: url(images/yes-check.gif);
    background-repeat: no-repeat;
    background-position: 0 .5em;
    text-align:left;
    vertical-align:middle;
}

.planinfo li.no
{
    padding-left: 25px;
    background-image: url(images/no-x.gif);
    background-repeat: no-repeat;
    background-position: 0 .5em;
    text-align:left;
    vertical-align:middle;
}

.td_input_checkbox{
    text-align: center;
}
#change_status_auto_renew{
    display: table-cell;
    float: right;
    margin-bottom: 5px;
}

#change_status_auto_renew>select{
    margin: 0px 10px;
    padding: 5px;
}
#change_status_auto_renew>button{
    background-color:#94c651;
    float: right;
    font-size: 13px;
    border-radius: 3px;
    text-decoration: none;
}

body{
    font-family: "Open Sans", arial, tahoma;
    font-weight: normal;
}#mainMenu li.level0 a, #mainMenu li.level0 a span, #mainMenu li.level1 a, #mainMenu li.level1 a span, #mainMenu li.level2 a, #mainMenu li.level2 a span, #menu-collapse a.level0{font-family: "Lato", arial, tahoma;}
.nav-sub-menu li.level0 a, .nav-sub-menu li.level0 a span, .nav-sub-menu li.level1 a, .nav-sub-menu li.level1 a span, .nav-sub-menu li.level2 a, .nav-sub-menu li.level2 a span, #menu-button{font-family: "Lato", arial, tahoma;}
h1, .h1 , .page-title h1{font-family: "Oswald", arial, tahoma;}
h2, .h2, .page-title h2{font-family: "Oswald", arial, tahoma;}
h3, .h3, .page-title h3{font-family: "Oswald", arial, tahoma;}
h4, .h4{font-family: "Oswald", arial, tahoma;}
h5, .h5{font-family: "Oswald", arial, tahoma;}
h6, .h6{font-family: "Oswald", arial, tahoma;}
.btn , .product-label{font-family: "Oswald", arial, tahoma;}
.price, .price-box .price{font-family: "Oswald", arial, tahoma;}
a{color: #007986;}
a:hover{color: #007986;}
body{color: #007986;}
.btn-default{color: #ffffff;background: #007986;}
.btn-default:hover{color: #ffffff;background: #3b3b3b;}
.btn-primary{color: #ffffff;background: #007986;}
.btn-primary:hover{color: #ffffff;background: #3b3b3b;}
.header-top, #header-v2 .header-top{background-color: #2d2d2d !important;}
header .header-content{background-color: #d2d2d2 !important;}
#nav_container{background-color: #d2d2d2 !important;}
#nav_container #mainMenu a.level0{color: #007986 !important;}
header nav ul.nav-main li.dropdown > a.level0:after{background-color: #007986 !important;}
#nav_container #mainMenu a.level0:hover{color: #2d2d2d !important;}
header nav ul.nav-main li > a.level0:before{background-color: #2d2d2d !important;}
#nav_container .sub-container{border-color: #007986 !important;}
.top-footer{color: #ffffff !important;}
.top-footer a{color: #ffffff !important;}
.top-footer a:hover{color: #007986 !important;}
.top-footer h2,.top-footer h3,.top-footer h4,.top-footer h5,.top-footer h6{color: #ffffff !important;}
.top-footer .fa{color: #ffffff !important;}
.middle-footer{background-color: #2d2d2d !important;color: #ffffff !important;}
.middle-footer a{color: #ffffff !important;}
.middle-footer a:hover{color: #007986 !important;}
.middle-footer h2,.middle-footer h3,.middle-footer h4,.middle-footer h5,.middle-footer h6{color: #ffffff !important;}
.middle-footer .fa{color: #ffffff !important;}
.bottom-footer{background-color: #212121 !important;color: #ffffff !important;}
.bottom-footer a{color: #ffffff !important;}
.bottom-footer a:hover{color: #007986 !important;}
.bottom-footer h2,.bottom-footer h3,.bottom-footer h4,.bottom-footer h5,.bottom-footer h6{color: #ffffff !important;}
.bottom-footer .fa{color: #ffffff !important;}